################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/emuGUIibo/.vs/emuGUIibo/v16
/emuGUIibo/emuGUIibo/bin/Debug
/emuGUIibo/emuGUIibo/obj/Debug
